.next-events-title {
  margin-bottom: 15px;
}

.event-list-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
}