* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.app-container {
  display: flex;
  height: 100vh;
  padding: 20px;
  gap: 20px;
  background-color: #f7f7f7;
}


.baby-container {
  flex-grow: 3;
  flex-basis: 400px;
  max-width: 900px;
}


.week-cards-container {
  flex-basis: 250px;
  flex-shrink: 0;
}

.events-container {
  flex-basis: 500px;
  flex-shrink: 0;
  height: 100%;
}