* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.app-container {
  display: flex;
  background-color: rgb(117, 196, 159);
}

.events-container {
  height: 100vh;
  flex: 1;
  padding: 5px;
  min-width: 30%;
  display: flex;
  flex-direction: column;
}

.events-container h2 {
  width: fit-content;
  align-self: center;
}